body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
    background-color: rgb(191, 252, 242);
    display: block;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0)
}

th {
    border: 1px solid rgb(0, 0, 0);
}

td {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}